<p-toast [style]="{marginTop: '80px'}" position="top-center" key="tc"></p-toast>
<p-confirmDialog #cd header="Confirmación" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>


<app-breadcrumb></app-breadcrumb>

<ng-container *ngIf="mostrarDialogo">
    <p-dialog header="Asignar Solped" [(visible)]="mostrarDialogo" width="400" [contentStyle]="{'overflow':'visible'}" onHide="cerrarDialogo()">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Nombre:</label>
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="trabs_gerencia" [(ngModel)]="userAsignado" placeholder="Seleccione..." optionLabel="nombre_completo" dataKey="idSegUsuario"></p-dropdown>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-check" (click)="asignar()" label="Asignar"></button>
                <button type="button" pButton (click)="cerrarDialogo()" label="Cerrar"></button>
            </div>
        </p-footer>
    </p-dialog>

</ng-container>

<div class="container-fluid">
    <div class="card mb-3">
        <h4 class="card-header">Listado de Solicitudes de Pedidos</h4>
        <div class="card-body" [ngClass]="'bodyCardFondo'">
            <div class="form-group">
                <p-accordion [multiple]="true">
                    <div *ngFor="let SOL of solpeds">
                        <p-accordionTab header="{{'Nro. Solped: ' + SOL.idSolpedCompras}}">
                            <div class="container-fluid">
                                <div class="row">

                                    <div class="col-12 col-sm-1 text-center"
                                        [ngStyle]="{'background-color': '#191919'}">
                                        <label class="">Fecha Registro</label>
                                    </div>
                                    <div class="col-12 col-sm-4 text-center"
                                        [ngStyle]="{'background-color': '#191919'}">
                                        <label class="">Descripción</label>
                                    </div>
                                    <div class="col-12 col-sm-1 text-center"
                                        [ngStyle]="{'background-color': '#191919'}">
                                        <label class="">Estado actual</label>
                                    </div>
                                    <div class="col-12 col-sm-1 text-center"
                                        [ngStyle]="{'background-color': '#191919'}">
                                        <label class="">Ticket</label>
                                    </div>
                                    <div class="col-12 col-sm-2 text-center"
                                        [ngStyle]="{'background-color': '#191919'}">
                                        <label class="">Gerencia</label>
                                    </div>
                                    <div class="col-12 col-sm-2 text-center"
                                        [ngStyle]="{'background-color': '#191919'}">
                                        <label class="">Asignado: </label> 
                                    </div>
                                    <div class="col-12 col-sm-1 text-center"
                                        [ngStyle]="{'background-color': '#191919'}">
                                        <label class="">Acciones</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-1 border-bottom border-light text-center"
                                        [ngStyle]="{'background-color': '#454545'}">
                                        <label class="">{{SOL.fechaAlta | date:'dd/MM/yyyy'}}</label>
                                    </div>
                                    <div class="col-12 col-sm-4 border-bottom border-light text-center"
                                        [ngStyle]="{'background-color': '#454545'}">
                                        <label class="">{{SOL.descripcion}}</label>
                                    </div>
                                    <div class="col-12 col-sm-1 border-bottom border-light text-center"
                                        [ngStyle]="{'background-color': '#454545'}">
                                        <label class="">{{SOL.estadoActual}}</label>
                                    </div>
                                    <div class="col-12 col-sm-1 border-bottom border-light text-center"
                                        [ngStyle]="{'background-color': '#454545'}">
                                        <label class="">{{SOL.idTicketServicio}}</label>
                                    </div>
                                    <div class="col-12 col-sm-2 border-bottom border-light text-center"
                                        [ngStyle]="{'background-color': '#454545'}">
                                        <label class="">{{SOL.nombre_gerencia}}</label>
                                    </div>
                                    <div class="col-12 col-sm-2 border-bottom border-light text-center"
                                        [ngStyle]="{'background-color': '#454545'}">
                                        <label class="">{{SOL.nombre_asignado}}</label>
                                    </div>
                                    <div class="col-12 col-sm-1 border-bottom border-light text-center py-2"
                                        [ngStyle]="{'background-color': '#454545'}">
                                        <button pButton type="button"   icon="pi pi-users"
                                            pTooltip="Asignar" tooltipPosition="top"
                                            class="ui-button-success" (click)="mostrarAsignacion(SOL)"
                                            style="margin-right: .1em" *ngIf="verAsignar"></button>
                                        <button pButton type="button"   icon="pi pi-list"
                                            pTooltip="Fases de la Solped" tooltipPosition="top"
                                            class="ui-button-success" (click)="fases(SOL)"
                                            style="margin-right: .1em"></button>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <app-solpedsdetalle [idSolped]="SOL.idSolpedCompras"></app-solpedsdetalle>
                            <br>

                        </p-accordionTab>
                    </div>
                </p-accordion>
            </div>
        </div>
    </div>
</div>