<div class="container-fluid">
  <div class="row pt-4">
    <div class="col-md-12 text-center mb-2">
      <small> © 2019</small>
    </div>
    <div class="col-md-12 text-center mb-3">
      <a target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i class="fab fa-github"></i></a>
      <a target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i class="fab fa-twitter"></i></a>
      <a  target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i
          class="fab fa-instagram"></i></a>
      <a  target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i
          class="fab fa-linkedin-in"></i></a>
    </div>
  </div>

</div>