<p-toast [style]="{marginTop: '80px'}" position="top-center" key="tc"></p-toast>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>

<p-toast position="center" key="c" [modal]="true" [baseZIndex]="5000" closable="true">
   
    <ng-template let-message pTemplate="message">
        <h4 position="center">{{message.summary}}</h4>
        <hr>
        <div class="ui-g ui-fluid">
            
            <div class="ui-g-12">
            
                <div class="ui-g-4">
                    <label>Nombre Producto:</label>
                </div>
                <div class="ui-g-8">
                    <p>{{message.detail}}</p>
                </div>
                </div>
                 <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Código Puesto:</label>
                </div>
                <div class="ui-g-8">
                    <p>{{message.data[0]}}</p>
                </div>
            </div>
    
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Código Producto:</label>
                </div>
                <div class="ui-g-8">
                    <p>{{message.data[1]}}</p>
                </div>
            </div>
        
        </div>
      
       <!--  <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div> -->
    </ng-template>
</p-toast>



<div class="ui-grid ui-fluid" >
    <div class="card mb-3">
        <div class="card-body" [ngClass]="'bodyCardFondo'">

            <div class="form-group">
                 <p-tree [value]="filesTree" layout="horizontal" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)"
                 selectable = "SelectedNode" [propagateSelectionDown]="false" [styleClass]="estilo" [(selection)]="selectedFiles" ></p-tree>
                <div style="margin-top:8px">Codigo Puesto: {{selectedFile ? selectedFile.data[2] : 'none'}}</div  >
                       
                </div>


        
        </div>
    </div>
</div>

