<p-toast [style]="{marginTop: '80px'}" position="top-center" key="tc"></p-toast>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>

<p-dialog *ngIf="Rol != null" [(header)]="tituloDialogo" [(visible)]="displayDialog" [style]="{width: '50vw'}"
    [resizable]="false" [modal]="true" [contentStyle]="{'overflow':'visible'}">

    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label>Codigo:</label>
            </div>
            <div class="ui-g-8">
                <input pInputText type="text" size="30" [(ngModel)]="Rol.codigo">
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label>Nombre:</label>
            </div>
            <div class="ui-g-8">
                <input pInputText type="text" size="30" [(ngModel)]="Rol.nombre">
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label>Descripción</label>
            </div>
            <div class="ui-g-8">
                <textarea [rows]="5" [(ngModel)]="Rol.descripcion" [cols]="30" pInputTextarea></textarea>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label>Menu Asociado:</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="menuItems" [(ngModel)]="Rol.idSegMenu" (onChange)="change($event)"
                    [filter]="true">
                </p-dropdown>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label>Estatus</label>
            </div>
            <div class="ui-g-8">
                <p-inputSwitch [(ngModel)]="Rol.estatus" (onChange)="handleChange($event, Rol)"></p-inputSwitch>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label>Auditable</label>
            </div>
            <div class="ui-g-8">
                <p-inputSwitch [(ngModel)]="Rol.auditable" (onChange)="handleChangeAudi($event, Rol)"></p-inputSwitch>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-check" (click)="setearDatosRol(Rol)" label="Guardar"></button>
            <button type="button" pButton (click)="cerrarDialogo()" label="Cerrar"></button>
        </div>
    </p-footer>
</p-dialog>

<app-breadcrumb></app-breadcrumb>

<div class="container-fluid">
    <div class="card mb-3">
        <h4 class="card-header">Ambito de Usuario</h4>
        <div class="card-body" [ngClass]="'bodyCardFondo'">
            <div class="form-group">
                <p-tabMenu [model]="items" [activeItem]="activeItemTab"></p-tabMenu>

                <p-table #dt [value]="Roles" [columns]="cols" [paginator]="true" [responsive]="true" [rows]="rows"
                    (onPage)="onPagination($event)" [first]="primera_fila" autoLayout="true">

                    <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText size="30" placeholder="Buscar"
                                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                    ariaLabelDesc="Activate to sort in descending order"
                                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-Rol let-indice="rowIndex" let-editing="editar">
                        <tr>
                            <td>
                                {{Rol.idSegRol}}
                            </td>
                            <td>
                                {{Rol.codigo}}
                            </td>
                            <td>
                                {{Rol.nombre}}
                            </td>
                            <td>
                                {{Rol.fechaAlta | date: 'dd/MM/yyyy'}}
                            </td>
                            <td>
                                {{(Rol.estatus == 1 ? "Habilitado" : "Desabilitado")}}
                            </td>
                            <td style="text-align:center">
                                <button pButton type="button" icon="pi pi-pencil" class="ui-button-success"
                                    (click)="verDialogo(Rol)" style="margin-right: .1em"></button>
                                <button pButton type="button" icon="pi pi-trash" class="ui-button-delete"
                                    (click)="confirmacion(Rol, indice)"></button>
                            </td>
                        </tr>

                    </ng-template>


                    <ng-template pTemplate="summary">
                        <div style="text-align:right">
                            <button style="width:100px" type="button" pButton icon="fa fa-plus" (click)="nuevoRol()"
                                label="Nuevo"></button>
                        </div>
                    </ng-template>
                </p-table>

            </div>
        </div>

    </div>
</div>