 <div class="ui-grid ui-grid-responsive ui-fluid" [ngStyle]="{'display':puedeEditar? 'none' : 'inline-block'}">
	
	<div class="ui-g ui-g-12 ui-g-nopad" style="background-color:#1E1E1E">

		<div class="ui-g-12 ui-md-2 ui-label">
			<label>Clasificación</label>
			<p-dropdown   id="tipoClasificacion" [options]="tiposClasificacion"
				(onChange)="onChangeTipoClasificacion($event)" [(ngModel)]="selectedTipoClasificacion"
				optionLabel="label" placeholder="Seleccione..."></p-dropdown>
		</div>
		<div class="ui-g-12 ui-md-2 ui-label">
			<label>SubClasificación</label>
			<p-dropdown   id="subTipoClasificacion" [options]="subtiposClasificacion"
				(onChange)="onChangeSubTipoClasificacion()" [(ngModel)]="selectedSubTipo" optionLabel="label"
				placeholder="Seleccione..." [disabled]="isDisabledSubTipoClasificacion"></p-dropdown>
		</div>
		<div class="ui-g-12 ui-md-2 ui-label">
			<label>Propiedad</label>
			<p-dropdown (onChange)="onChangePropiedades($event)"   id="propiedad"
				[options]="propiedades" placeholder="Seleccione..." [disabled]="isDisabledPropiedad"
				[(ngModel)]="selectedPropiedad" optionLabel="label">
			</p-dropdown>
		</div>

		<div class="ui-g-12 ui-md-1 ui-label">
			<label>Valor</label>
			<input [(ngModel)]="selectedPropiedadValor" pInputText id="valor" [disabled]="isDisabledValor" />
		</div>

		<div class="ui-g-12 ui-md-2 ui-label">
			<label>Tipo Medida</label>
			<p-dropdown [(ngModel)]="selectedTipoMedida" optionLabel="label" (onChange)="onChangeTipoMedida($event)"
				placeholder="Seleccione..."   id="tipo" [options]="tiposMedidas"
				[disabled]="isDisabledTipoMedidas">
			</p-dropdown>
		</div>
		<div class="ui-g-12 ui-md-3 ui-label">
			<label>Unidad</label>
			<p-dropdown (onChange)="onChangeUnidadMedida($event)"   id="unidades"
				placeholder="Seleccione..." [options]="unidadesMedidas" [disabled]="isDisabledUnidades"
				[(ngModel)]="selectedUnidad" optionLabel="label">
			</p-dropdown>
		</div>


	</div>

	<div class="ui-g ui-g-12 ui-g-nopad" style="background-color:#1E1E1E">

		<div class="ui-g-12 ui-md-6 ui-label">
			<label>Observación</label>
			<input [(ngModel)]="selectedPropiedadObservacion" pInputText id="valor"
				[disabled]="isDisabledObservacion" />
		</div>

		<div class="ui-g-12 ui-md-1 ui-label">
			<label for="ad">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>

			<button id="ad" pButton type="button" pTooltip="Agregar propiedad complementaria" tooltipPosition="top"
				 icon="pi pi-plus" class="ui-button-success" (click)="agregarPropiedadComplementaria()"
				[disabled]="isDisabledButtonAddPropiedad"></button>
		</div>
		<div class="ui-g-12 ui-md-5 ui-label">
		</div>
	</div>


</div> 

<div class="ui-grid ui-grid-responsive ui-fluid">
	<div class="ui-g ui-g-12 ui-g-nopad">

		<p-table #dt [responsive]="true" [columns]="cols" [value]="producto.complementarias" selectionMode="single"
			[paginator]="true" [rows]="10" [scrollable]="true"
			dataKey="producto.complementarias.idAdmComplementariaProducto">

			<ng-template pTemplate="header" let-columns>
				<tr>
					<th *ngFor="let col of columns" [ngStyle]="{'width': col.width}" class="text-center">
						{{col.header}}
					</th>
					<th style="width: 10%;" class="text-center">Acciones</th>
				</tr>
			</ng-template>

			<ng-template pTemplate="body" let-rowData let-columns="columns">
				<tr>
					<td style="width: 10%;">
						{{ rowData.nombre_clasi }}
					</td>
					<td style="width: 10%;">
						{{ rowData.nombre_subcla }}
					</td>

					<td style="width: 10%;">
						{{ rowData.propiedad }}
					</td>
					<td style="width: 10%;" class="text-center">
						{{ rowData.valor }}
					</td>
					<td style="width: 10%;" class="text-center">
						{{ rowData.unidadMedida }}
					</td>
					<td style="width: 40%;" class="text-center">
						{{ rowData.observacion }}
					</td>

					<td style="text-align:center" style="width: 10%;">
						<button id="editarPropiedad" pButton type="button"  icon="pi pi-pencil"
							(click)="editPropiedadAdicional(rowData)" [disabled]="puedeEditar"
							style="margin-right: .1em"></button>
						<button pButton type="button" icon="pi pi-trash" class="ui-button-success"
							(click)="eliminarPropiedadAdicional(rowData)" [disabled]="puedeEditar"
							style="margin-right: .1em"></button>
					</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>

<p-dialog [(header)]="tituloDialogo" [(visible)]="displayDialog" width="450" [contentStyle]="{'overflow':'visible'}">

	<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="itemComplemForDialog">

		<div class="ui-g ui-g-12 ui-g-nopad">
			<div class="ui-g-12 ui-md-4 ui-label">
				<label for="padres">Propiedad</label>
			</div>
			<div class="ui-g-12 ui-md-8">
				<input pInputText id="propiedad" [readonly]="true" [(ngModel)]="itemComplemForDialog.propiedad" />
			</div>
		</div>

		<div class="ui-g ui-g-12 ui-g-nopad">
			<div class="ui-g-12 ui-md-4 ui-label">
				<label for="titulo">Valor</label>
			</div>
			<div class="ui-g-12 ui-md-8">
				<input pInputText id="valor" [(ngModel)]="itemComplemForDialog.valor" />
			</div>
		</div>

		<div class="ui-g ui-g-12 ui-g-nopad">
			<div class="ui-g-12 ui-md-4 ui-label">
				<label>Tipo Medida</label>
			</div>
			<div class="ui-g-12 ui-md-8">
				<p-dropdown (onChange)="onChangeTipoMedida2($event)" id="dTiposMedidas"
					placeholder="Seleccione tipo medida"   [options]="tiposMedidas2"
					[(ngModel)]="itemComplemForDialog.idAdmTipoMedida">
				</p-dropdown>
			</div>
		</div>

		<div class="ui-g ui-g-12 ui-g-nopad">
			<div class="ui-g-12 ui-md-4 ui-label">
				<label>Unidades de Medidas</label>
			</div>
			<div class="ui-g-12 ui-md-8">
				<p-dropdown id="dUnidadesMedidas" placeholder="Seleccione unidad de medida"  
					[options]="unidadesMedidas2" [(ngModel)]="itemComplemForDialog.idAdmUnidadMedida">
				</p-dropdown>
			</div>
		</div>

		<div class="ui-g ui-g-12 ui-g-nopad">
			<div class="ui-g-12 ui-md-4 ui-label">
				<label>Observacion</label>
			</div>
			<div class="ui-g-12 ui-md-8">
				<input pInputText id="valor" [(ngModel)]="itemComplemForDialog.observacion" />
			</div>
		</div>
	</div>
	<p-footer>
		<div class="ui-dialog-buttonpane ui-helper-clearfix">
			<button type="submit" pButton icon="fa fa-check" (click)="savePropiedad()" label="Guardar"></button>
			<button type="button" pButton icon="fa fa-times" (click)="cerrarDialogo()" label="Cerrar"></button>
		</div>
	</p-footer>
</p-dialog> 

<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
	<p-footer>
		<button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
		<button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="cd.reject()"></button>
	</p-footer>
</p-confirmDialog>

<p-toast [style]="{marginTop: '80px'}" position="top-center" key="tc"></p-toast>